* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
}
.grid-template{
    display: grid;
    grid-template-columns: 240px 1fr;
}
.nav-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .left-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.15rem;
    margin-left: 1.25rem;
}
.left-side .fa-bars{
    box-sizing: border-box;
    padding: 0.5em;
    font-size: 1rem;
}
.left-side .menu:hover{
    background-color: rgb(207, 204, 204);
    border-radius: 0.1rem;
}
.left-side .kayak-logo{
    font-size: 1rem;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.3rem 0.3rem 0.1rem 
}
.kayak-logo:active{
    border: 2px solid green;
}
.kayak-logo .logo{
    background-color: rgb(255, 105, 15);
    padding: 0.25rem 0.4rem;
    margin-right: -0.15rem
}

.nav-bar .right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 1.25rem;
}
.right-side .fa-heart{
    font-size: 1.25rem;
}
.right-side .sign-in{
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
    padding: 1em 1.2em;
    font-weight: bold;
    letter-spacing: 0.05rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.2rem;
}
.sign-in .fa-user-circle{
    font-size: 1.25rem;

}

.side-menu{
    grid-column: 1 / 2;
    /* border: 2px solid firebrick; */
    height: auto;
}
.side-menu p{
    width: 180px;
    margin: 0.25rem 0 0.25rem 0.5rem;
    padding: 0.75rem 1.25rem 0.75rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.45rem;
    font-size: 0.9rem;
}
.side-menu p:hover{
    border-radius: 0.25rem;
    background-color: rgb(238, 227, 227);
}
.side-menu .fa{
    font-size: 1rem;
    color: grey;
}
.side-menu .name-cars{
    padding-left: 0.1rem;    
}
.side-menu .name-stays{
    margin-left: -0.2rem;
}
main{
    grid-column: 2 / 3;
    border: 2px solid green;
    height: 900px;
   
}
