* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}
.grid-template{
    display: grid;
    grid-template-columns: 240px 1fr;
}
.grid-template .hr{
   margin-top: -0.1rem;
}
.nav-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .left-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.15rem;
    margin-left: 1.25rem;
}
.left-side .menu:hover{
    background-color: rgb(207, 204, 204);
    border-radius: 0.1rem;
}
.left-side .kayak-logo{
    font-size: 1rem;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.3rem 0.3rem 0.1rem 
}
.kayak-logo:active{
    border: 2px solid rgb(131, 236, 131);
}
.kayak-logo .logo{
    background-color: rgb(255, 105, 15);
    padding: 0.25rem 0.4rem;
    margin-right: -0.15rem
}

.nav-bar .right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 1.25rem;
}
.right-side .sign-in{
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
    padding: 1em 1.2em;
    font-weight: bold;
    letter-spacing: 0.05rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.2rem;
}
.side-menu{
    grid-column: 1 / 2;
    grid-row-start: 2;
    border-top: 1px solid grey;
    /* border: 2px solid firebrick; */
    height: auto;
}
.side-menu li{
    width: 180px;
    margin-left: 0.25rem;
    padding: 0.75rem 1.25rem 0.75rem 1.5rem;
    
}
.side-menu li:hover{
    border-radius: 0.25rem;
    background-color: rgb(238, 227, 227);
}
.side-menu li:active{
    color: black;
    font-weight: 500;
    background-color: rgb(238, 227, 227);
}
.side-menu a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.4rem;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

main{
    grid-column: 2 / 3;
    grid-row-start: 2;
    height: auto;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}
main .container{
    width: 75%;
    margin: 2rem auto;

}

.container .drop-options{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 1rem;
    align-items: center;
}
.drop-options .drop-downs{
    border: none;
    padding: 0.25rem;
    background-color: white;
    width: 12vh
}
.container .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    max-width: 80vw;
    
}
.navbar .bar{
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 0.5rem;
    padding: 0.75rem;
}
.bar .nbo{
    border: 1px solid white;
    background-color: white;
    padding: 0.1rem 0.5rem;
    font-size: 0.85rem;
}
.navbar .schedule{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 0.5rem;
    padding: 0.75rem;

}
.bar .plus{
    padding:0.25rem;
}
